<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="en_US" class="no-js iem7"> <![endif]-->
<!--[if lt IE 7]> <html class="ie6 lt-ie10 lt-ie9 lt-ie8 lt-ie7 no-js" lang="en_US"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="en_US"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 lt-ie10 lt-ie9 no-js" lang="en_US"> <![endif]-->
<!--[if IE 9]>    <html class="ie9 lt-ie10 no-js" lang="en_US"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html lang="en_US" class="no-js">
<!--<![endif]-->

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
    <meta name="HandheldFriendly" content="true" />

    <link rel="canonical" href="https://covid19.ren.rocks/">
    <link rel="shortcut icon" href="./logo/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="./logo/logo.png" />
    <link rel="image_src" href="./logo/logo.png" />

    <meta name="twitter:card" content="summary">
    <meta property="og:url" content="https://covid19.ren.rocks/" />
    <meta property="og:site_name" content="Coronavirs News Aggregator" />
    <meta property="og:image" content="./logo/logo.png">


    <title>Ren Rocks - Coronavirus News Aggregator</title>
    <meta property="og:title" content="Ren Rocks - Coronavirus News Aggregator." />
    <meta property="og:description" content="Coronavirus News pulled from multiple sites on a single location.">
    <meta name="description" content="Coronavirus News pulled from multiple sites on a single location.">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .card {
            width: 80%;
            margin: auto;
        }

        @media screen and (max-width: 500px) {
            body {
                font-size: .75em;
            }

            a {
                color: rgba(190, 190, 190, 0.5)
            }

            .footer {
                max-width: 245px;
            }

            .card {
                width: 100%;
            }

            .card-body {
                padding: .25rem;
            }
        }
    </style>
</head>

<body>
    <header class="container">
        <div class="row align-items-center justify-content-center" style="height: 200px;">
            <div class="col">
                <a href='https://covid19.ren.rocks'>
                    <img src="./logo/logo_transparent.png" style="max-width:600px;width:100%;margin:auto;"
                        alt="Coronavirus News Aggregator" />
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <div class="list-group">
                            <ol>
                                {{{markup}}}
                            </ol>
                            <div style="text-align:center; color: #444"><small>{{{footer}}}</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center" style="height: 200px;">
            <div class="col-5 footer">
                <div class="row">
                    <div class="col-sm-6">
                        <a target="_blank" href="https://ren.rocks">

                            <button type="button" class="btn btn-primary"
                                style="height: 54px; width: 217px; margin-bottom: 20px;">Built by ren.rocks</button>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <style>
                            .bmc-button img {
                                height: 34px !important;
                                width: 35px !important;
                                margin-bottom: 1px !important;
                                box-shadow: none !important;
                                border: none !important;
                                vertical-align: middle !important;
                            }

                            .bmc-button {
                                padding: 7px 10px 7px 10px !important;
                                line-height: 35px !important;
                                height: 51px !important;
                                min-width: 217px !important;
                                text-decoration: none !important;
                                display: inline-flex !important;
                                color: #ffffff !important;
                                background-color: #FF5F5F !important;
                                border-radius: 5px !important;
                                border: 1px solid transparent !important;
                                padding: 7px 10px 7px 10px !important;
                                font-size: 20px !important;
                                letter-spacing: -0.08px !important;
                                box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
                                -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                                margin: 0 auto !important;
                                font-family: 'Lato', sans-serif !important;
                                -webkit-box-sizing: border-box !important;
                                box-sizing: border-box !important;
                                -o-transition: 0.3s all linear !important;
                                -webkit-transition: 0.3s all linear !important;
                                -moz-transition: 0.3s all linear !important;
                                -ms-transition: 0.3s all linear !important;
                                transition: 0.3s all linear !important;
                            }

                            .bmc-button:hover,
                            .bmc-button:active,
                            .bmc-button:focus {
                                -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                                text-decoration: none !important;
                                box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                                opacity: 0.85 !important;
                                color: #ffffff !important;
                            }
                        </style>
                        <link href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext"
                            rel="stylesheet"><a class="bmc-button" target="_blank"
                            href="https://www.buymeacoffee.com/renrocks"><img
                                src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg"
                                alt="Buy me a coffee"><span style="margin-left:15px;font-size:19px !important;">Buy me a
                                coffee</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>